.barra-acessibilidade{
    background:#1f2937;
    padding:12px;
}

.conteiner-acessibilidade{
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
    gap:12px;
}

.rotulo-acessibilidade{
    color:#fff;
    font-weight:bold;
}

.grupo-botoes-acessibilidade{
    display:flex;
    gap:10px;
}

.botao-acessibilidade{
    background:#2563eb;
    color:#fff;
    border:none;
    padding:10px 18px;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
    transition:.3s;
}

.botao-acessibilidade:hover{
    background:#1d4ed8;
}

.botao-acessibilidade:focus{
    outline:3px solid #facc15;
    outline-offset:3px;
}
.alto-contraste{
    background-color:#000;
    color:#fff;
}

.alto-contraste .barra-acessibilidade{
    background:#000;
}

.alto-contraste .botao-acessibilidade{
    background:#fff;
    color:#000;
    border:2px solid #ffff00;
}

.alto-contraste a{
    color:#ffff00;
}